body{
  font-family: 'Roboto', sans-serif;
}

.logo {
    width: 75px;
    height: 75px;
}

.body_content {
    display: inline;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.article {
  width: 33%;
  display: inline-block;
  clear: right;
}

.category {
    color: blue;
}

.title {
  font-weight: bold;
}

nav {
    background-color: #000;
    display: flex;
    flex-direction: row;
}

nav ul {
  display: flex;
}

nav li {
  padding: 5px 25px;
  color: white;
}

li {
  list-style-type: none;
}

.article img {
  width: 300px;
}